.mainGrid {
  display: grid;

  grid-template-areas: "firstColumn secondColumn";
  grid-template-columns: "614px 293px";

  grid-gap: 50px;

  max-width: 957px;
  margin: 0 auto;
}

.box {
  background: red;
  border: 1px solid var(--border);
}

.sugestion-box {
  background: darkblue;
}
